# macOS filesystem poop
.DS_Store

# Python files
.venv
venv
__pycache__
uv.lock

# insta snap files
*.rs.pending-snap

# output of some build tooling for our release process
output
target

# rytest specific files
.rytest
